@charset "UTF-8";

@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'GangwonEduPowerExtraBoldA';
}

article{
	margin-bottom: 50px;
}

a{
   color: orange;
   
}

ul li{
   list-style-type: none;
   text-align: center;
}

ul{
   text-align: center;
   padding: 0;
   margin: 0 auto;
}

section{
   margin: 0px 200px 0px;
}

#banner{
   text-align: center;
   justify-content: center;
   
}

#category{
   text-align: center;
   align-items: center;
   display: flex;
   justify-content: center;
   flex-direction: column;
   background-color: white;
}



#mainNew{
   text-align: center;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

#mainRev{
   text-align: center;
   display: flex;
   justify-content: center;
   flex-direction: column;
}



#banner div img{
   width: 100%; 
}

.categoryIcon{
	width: 100%;
	margin: 0 200x;
	padding: 20px 0px;
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.info {
   padding: 0;
   text-align: center;  
}

.card-body {
   border: solid orange; 
}

.btn btn-primary {
   background-color: orange;
   border-color: orange;
}

.product-list {   
   display: flex;
   justify-content: space-between;
   text-align: center;
}

.product-list li img{   
   width: 220px;
   height: 250px; 
}

.bestProduct-list{
	display: flex;
	justify-content: space-between;
	text-align: center;
	
}

.bestProduct-list li img{
	width: 250px;
	height: 290px;
}


.catrgoryDetail {
   display: flex;
   flex-direction: column;
}


.navigator {
	height: 50px;
	background-color: #f9d9a1;
	position: sticky;
	left: 0px;
	top: 0px;
	margin: 0px 200px 0px;
	padding: 0;
	z-index: 10;
}

.navigator ul {
	list-style-type: none;
     display: flex;
     align-items: center;
     justify-content: space-around;
     width: 100%;
     max-width: 800px;
     height: 50px;
     margin: 0 auto;
     padding: 0;
}

.navigator-link {
	display:inline-block;
	padding: 5px;
}

.navigator-link a {
	 display: block;
     height: 40px;
     padding: 0 20px;
     line-height: 40px;
     text-decoration: none;
     text-transform: uppercase;
     color: #323232;
     font-weight: bold;
     border-radius: 4px;
     transition: background-color 0.3s ease-in;
}

 nav a:hover, nav a:active, nav a:focus {
     background-color: rgba(184,214,168,0.5);
}

 nav a.active {
     background-color: rgba(184,214,168,0.5);
} 
 
.card-title2{
 	margin-bottom: 0.75rem;
 	text-align: center;
 }

.card-body2 {
    border: solid #f9d9a1;
    text-align: center;
}

.btn-primary {
    color: green;
    background-color: orange;
    border-color: orange;
}

.info {
  z-index: -50;
  font-size: 20px;
  margin-left: 7px;
  margin-top: 50px;
  line-height: 40px;
}


