

.mypage-wrapper{
	height: 650px; 
	margin-top: 0px; 
	
	background: #F7D358;
}


.mypage-nav{
	height: 550px;
	width: 200px;
	float:left;
	margin-left:200px;
	
}

.mypage-content{
	height: 650px;
    width: 950px;
    float: right;
    margin-right:400px;
    overflow: scroll;
    
    
}



/* 스크롤바 설정*/
.mypage-content::-webkit-scrollbar{
    width: 10px;
    
}

/* 스크롤바 막대 설정*/
.mypage-content::-webkit-scrollbar-thumb{
    height: 17%;
    background-color: rgba(255,255,255,1);
    /* 스크롤바 둥글게 설정    */
    border-radius: 10px;    
}

/* 스크롤바 뒷 배경 설정*/
.mypage-content::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0);
}

dl, ol, ul{
    margin-top: 50px;
    margin-bottom: 2rem;
    width: 200px;
}
    
    
.mypage-nav > ul > li{
    margin-top: 143px;
    display: list-item;
}

.css-1roqgte {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 150px;
    height: 44px;
    border-radius: 3px;
    color: #000000;
    background-color: #FFA500;
    border: 0px none;
    font-weight: bold;
    cursor:pointer;
    text-align: center;
    
    
}


.mypage-hr {

height: 3px; background: #000000; 

}