@charset "UTF-8";

html, body {
	margin: 0px;
	height: 100%;
}

#frame {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	font-weight: bold;
}

#header th {
	border-bottom: 2px solid black;
	position: sticky;
	left: 0px;
	top: 0px;
	height: 40px;
}

#frame thead {
	position: sticky;
	left: 0px;
	top: 40px;
}

.headerCell {
	width: 100px;
}

.contentCell {
	overflow: auto;
	vertical-align: top;
}

.contentCell table {
	border-collapse: collapse;
}

.contentCell table th {
	border: 1px solid black;
}

.contentCell table td {
	border: 1px solid gray;
}

.contentCell th, .contentCell td {
	padding-left: 5px;
	padding-right: 5px;
}