@charset "UTF-8";

body {
	margin: 0px;
}

#nav {
	text-indent: 15px;
	user-select: none;
}

#nav .navMargin {
	height: 10px;
}

#nav span {
	padding-left: 2px;
	padding-right: 2px;
	cursor: pointer;
}

#nav .indent {
	text-indent: 30px;
}

#nav .groupBullet {
	width: 10px;
	height: 10px;
	transform: rotate(90deg);
}

#nav .bullet {
	width: 10px;
	height: 10px;
	opacity: 0.5;
}
